# Visual Studio (archivos locales del IDE)
**/.vs/

# Salidas de compilación
**/Debug/
**/x64/
**/Release/

# Recomendado (por si existen)
Release/
x64/Release/
[Bb]in/
[Oo]bj/

# Archivos de proyecto locales
*.vcxproj.filters
*.user
